<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nzsol.dao.parse.acv.AcvMapper">

	<insert id="insertAcvMain" parameterType="java.util.Map">
	</insert>
	
	<insert id="insertAcvMainGani" parameterType="java.util.Map">
	</insert>
	
	<insert id="insertAcvfSum" parameterType="java.util.Map">
	</insert>
	
	<insert id="insertAcvSum" parameterType="java.util.Map">
	</insert>
	
</mapper>